<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kem Dưỡng Da</title>
</head>
<body>
        <div class="container mb-3">
                <div class="row">
                    <div class="col-12 px-0 "> 
                         <nav class="navbar navbar-expand-lg navbar-light bg-light">
                             <a class="navbar-brand d-block d-md-none" href="#"> Menu </a>
                             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                 <span class="navbar-toggler-icon"></span>
                             </button>
                               
                             <div class="collapse navbar-collapse Font--size" id="navbarSupportedContent">
                                 <ul class="navbar-nav">
                                     <li class="nav-item pl-5">
                                         <a class="nav-link " href="#"> Trang chủ </a>
                                     </li>
                                     <li class="nav-item dropdown pl-5">
                                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 Sản phẩm
                                             </a>
                                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                 <a class="dropdown-item" href="/son"> Son </a>
                                                 <a class="dropdown-item" href="/sua-rua-mat"> Sữa rửa mặt </a>
                                                 <a class="dropdown-item" href="/kem-duong"> Kem dưỡng da </a>
                                                 <a class="dropdown-item" href="/mat-na"> Mặt nạ dưỡng da</a>
                                             </div>
                                     </li>
                                     <li class="nav-item pl-5">
                                         <a class="nav-link" routerLink="/gioithieu"> Giới thiệu </a>
                                     </li> 
                                     <li class="nav-item pl-5">
                                         <a class="nav-link " routerLink="/lienhe"> Liên hệ </a>
                                     </li>
                                 </ul>
                             </div>
                         </nav>
                   </div>
                 </div>
            </div> 
    <div>
        <h1 class="text-center Type--word">Sản Phẩm Kem Dưỡng Da</h1>
    
        </div>
      <div class="row mt-5">
          <div class="col-12">
              <div class="card-deck">
                  <div class="card d-none d-md-block">
                      <img src="http://static.ngonbore.online/uploadv2/web/1/1/product/2017/08/28/03/14/1503933250_kem-duong-da-chong-lao-hoa-collagen-cellio-50ml-ha.jpg" class="card-img-top H-W--image">
                      <div class="card-body">
                          <p> Kem dưỡng da collagen</p>
                          <p> Giá: 300.000đ</p>
                          <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                      </div>
                  </div>
                  <div class="card d-none d-md-block">
                      <img src="https://sc02.alicdn.com/kf/UT8RpSnXtXXXXagOFbXd/Korea-ginseng-skin-cream-Korea-herbal-skin.jpg_350x350.jpg" class="card-img-top H-W--image"> 
                      <div class="card-body">
                          <p> Kem dưỡng da Skin </p>
                          <p> Giá: 400.000đ </p>
                          <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                      </div>
                  </div>
                  <div class="card ">
                      <img src="https://gocnhineva.com/wp-content/uploads/2017/08/M%E1%BB%B9-ph%E1%BA%A9m-whoo-2.jpg" class="card-img-top H-W--image">
                      <div class="card-body">
                          <p> Kem dưỡng da </p>
                          <p> Giá: 500.000đ</p>
                          <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                      </div>
                  </div>
                  <div class="card ">
                      <img src="https://media.sheis.vn/images/image015(366).jpg" class="card-img-top H-W--image">
                      <div class="card-body">
                          <p> Kem dưỡng da LANEIGE </p>
                          <p> Giá: 500.000đ</p>
                          <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                      </div>
                  </div>
                </div>
                </div>
                <div class="col-12">
                    <div class="card-deck">
                        <div class="card ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGtF325b-o8lReh50pIt-jlB-1sRrSmXdK5NH1RVf14jB1qko" class="card-img-top H-W--image">
                            <div class="card-body">
                                <p> Kem dưỡng da NEYTD </p>
                                <p> Giá: 300.000đ</p>
                                <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                            </div>
                        </div>
                        <div class="card ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStAd30qR8csMuZCGLcTlu8tD-SSWZ0QCAEewVnSSSSoijJza1k" class="card-img-top H-W--image">
                            <div class="card-body">
                                <p> Kem dưỡng da PONE'S </p>
                                <p> Giá: 180.000đ</p>
                                <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                            </div>
                        </div>
                        <div class="card ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkM76WxHa5lcX2XJ8r6SsATVTXmwH7Jx_4dUSw8VCNtRBnAk3uUQ" class="card-img-top H-W--image">
                            <div class="card-body">
                                <p> Kem dưỡng da OLAY </p>
                                <p> Giá: 300.000đ</p>
                                <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                            </div>
                        </div>
                        <div class="card ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSAS5xSs6l0qTYlSj_dfTVL1nunCDCXSunJ7SMVB1zSw4A967j" class="card-img-top H-W--image">
                            <div class="card-body">
                                <p> Kem dưỡng da ALONINS </p>
                                <p> Giá: 550.000đ</p>
                                <button type="button" class="btn btn-outline-success" (click)="navigateToCart()"> Đặt hàng </button>
                            </div>
                        </div>
                      </div>
                      </div>
                </div>
</body>
</html>